{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select name="symbol" required class="form-select form-select-sm" style="width:14%; margin:auto;" aria-label=".form-select-sm example">
                <option selected disabled>Stocks Owned</option>
                {% for stock in stocks %}
                    <option value="{{ stock['stock'] }}">{{ stock["stock"] }}</option>
                {% endfor %}
            </select>
            <br>
            <input required autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Number of Shares" type="number" min=1>
            <br>
            <button class="btn btn-primary" type="submit">Sell</button>
        </div>
    </form>
{% endblock %}
<br>