{% extends 'layout.html' %}
{% block body %}
<form action="/compare" method="post">
  <div class="row g-3">
    <div class="col-md">
      <input name='movie1' type="text" class="form-control" placeholder="Movie 1" required autocomplete="off">
    </div>
    <div class="col-md">
      <input name='movie2' type="text" class="form-control" placeholder="Movie 2" required autocomplete="off">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Compare</button>
    </div>
  </div>
</form>

{% endblock %}