html{
    height: 100%;
}
body 
{
    margin-top: 2%;
    height:100%;
    text-align: center;
    background-image: url('background.png');
    background-size: cover;
    align-content: center;
}
#main 
{
width:60%;
height:100%;
margin: auto;
align-items: center;
color: white;
}
.display-hide
{
    display: none;
}
.display-show
{
    display: inline-block;
}